<html>
<header>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
</header>

<body>
    <div class="container">
        <h1>All Students</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Roll Number</td>
                    <td>Name</td>
                    <td>Class</td>
                    <td>Age</td>
                    <td>Options</td>
                </tr>
            </thead>

            <% students.forEach(student => { %>
            <tr>
                <td><%= student.rollNo %> </td>
                <td><%= student.name %></td>
                <td><%= student.class %></td>
                <td><%= student.age %></td>
                <td>
                    <form action="/teacher/<%=teacher%>/student/<%=student.rollNo%>?_method=DELETE" method="post"><input
                            type="submit" class="btn btn-danger" value="Delete"></form>
                </td>
            </tr>
            <% }) %>
        </table>
        <a href="/teacher/<%=teacher%>" class='btn btn-primary'>Back</a>
    </div>
</body>

</html>